*{
    font-family: "Urbanist",sans-serif;
    background-color: #fbfff5;
}
#skills-cards-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    align-self: auto;
}
.skill-card{
    box-sizing: border-box;
    width: 22%;
    margin: 10px;
    padding: 10px;
    border: 1px hidden;
    border-radius: 50px;
    background: #fbfff5;
    box-shadow:  20px 20px 60px #d5d9d0,
             -20px -20px 60px #ffffff;
}
.skill-image{
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
}
.skill-name{
    background-color: transparent;
    margin:auto;
    text-align: center;
    padding: 2px;
    font-size: 16px;
    color: #f0bc00;
}
.skill-description{
    background-color: transparent;
    margin:auto;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}
